<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "eSHOP", root_path, :class => "navbar-brand" %>
     
    </div>
    <div>
      <ul class="nav navbar-nav">
        
        <li><%= link_to "Home Page", root_path, :class => "active" %></li>
          <li><%= link_to "New Product", new_product_path %></li>
          
        
      </ul>
    </div>
    
  </div>
</nav>